@model IEnumerable<AG_Practice.Models.ProductCategoryDto>

@{
    ViewBag.Title = "Product Wizard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Wizard</h2>
@using (Html.BeginForm("PostNewProduct", "Product", FormMethod.Post, new { @id = "form" }))
{
    <div id="example-vertical">
        <h3>Category</h3>
        <section>
            <h5>In what category does this product fall under?</h5>
            @Html.DropDownList("ProductCategoryId", Model.Select(category => new SelectListItem() { Text = category.Name, Value = category.ProductCategoryId.ToString() }))
        </section>
        <h3>Details</h3>
        <section>
            <p>Specify the product being sold by Adventure Works.</p>
        </section>
        <h3>Model</h3>
        <section>
            <p>What is the model and description of this product?</p>
        </section>
    </div>
}


@section Scripts {
    <script src="~/Scripts/Views/ProductWizard.js" asp-append-version="true"></script>
}